.hide-element {
	display: none;
}

#header, #builds td.commit, #builds td.date {
	font-family:"Courier New", Courier, monospace;
}

body {
	font:13px Helvetica,  Arial,  sans-serif;
}

html, body, div {
	margin:0;
	padding:0;
	border:0;
}

.wrap {
	margin:0 auto;
	width:630px;
}

#header, #footer {
	float:left;
	padding:15px 0;
	min-width:100%;
}

#header {
	color:fff;
	background: #131313; /* Old browsers */
	background: -moz-linear-gradient(top,  #131313 0%, #333333 94%, #000000 96%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#131313), color-stop(94%,#333333), color-stop(96%,#000000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #131313 0%,#333333 94%,#000000 96%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #131313 0%,#333333 94%,#000000 96%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #131313 0%,#333333 94%,#000000 96%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #131313 0%,#333333 94%,#000000 96%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#header .logo {
	float:left;
	width:60px;
}

#header h1 {
	width:570px;
	margin:0;
	padding:0;
	line-height: 48px;
	font-size: x-large;
	font-weight: normal;
	text-transform: lowercase;
}

#content {
	padding:15px 0;
	clear:both;
}

#builds table {
	width:100%;
	font-size: small;
}

#builds tr.even
{
	background-color:#efefef;
}

#builds td {
	vertical-align: top;
	padding:0 10px 0 0;
}

#builds td.date, #builds td.commit {
		white-space: nowrap;
		width:1%;
}
#builds th {
	text-align: left;
}

#builds th.branch
{
	font-size: large;
}
